@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --red_color:#FF4C60;
    --bg-color:#312F2F;
    --bg-color2:#313131;
}


.body {
    overflow: visible;
}

header {
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

section{
    padding: 80px 0;
    background-color: var(--bg-color2);
}
section .section_title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 10px;

}

section .section_title span{
    color: var(--red_color);
    position: relative;
    text-align: center;
}
section .section_title span::before{
    content:'';
    width: 80px;
    height: 2px;
    background-color: var(--red_color);
    position: absolute;
    bottom: -10px;
    left: 50px;
    
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
}

nav.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    
}

nav .links {
    width: 70%;
    padding: 0 10px;
}

nav .logo a{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--red_color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}

nav .links ul {
    text-transform: uppercase;
    display: flex;
    justify-content: end;
    gap: 0 30px;
    color: white;
    list-style: none;
}

nav .links ul a {
    font-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    position: relative;
    transition: all .5s;
}
nav .links ul a:hover {
    color: var(--red_color);
}

nav .links ul a:before {
    content: "";
    transition: .9s;
    position: absolute;
    background-color: var(--red_color);
    bottom: -20px;
    width: 0%;
    height: 2px;
}



nav .links ul a:hover:before {
    width: 100%;

}

.menu {
    display: none;
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 20px;

}

.banner{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .profile_name{
    text-transform: uppercase;
    color: var(--red_color);
    font-size: 65px;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
}
.banner .profile_profission{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin: 30px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner .profile_profission span{
    margin-bottom: 10px;
    position: absolute;
    right: -20px;
    
    
}
.banner .social_links a{
    color: #fff;
	border: 1px solid #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	transition: .5s;
    margin-left: 10px;

}
.banner .social_links a:hover{
    background-color: var(--red_color);
    border: 1px solid var(--red_color);
  

}


main .about_me{
    background-color:#313131;
    padding:140px 10px 100px 0 ;
}
main .about_me .container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
}
main .about_me .icons{
    /* position: absolute; */
    font-size: 100px;
    color: white;
}
main .about_me .icons .fa-react{
    position: absolute;
    top: -100px;
    right: -70px;
}
main .about_me .icons .fa-node-js{
    position: absolute;
    bottom: -100px;
    left: -70px;
}
main .about_me .icons .fa-git-alt{
    position: absolute;
    bottom: -50px;
    right: -50px;
}

main .about_me .container .about_image img{
    width: 100%;
    max-width: none;
    border-radius: 50px;
    position: relative;

}


main .about_me .container .about_image{
    position: relative;
    width: 100%;
    height: 100%;
}


main .about_me .container .about_image::before{
    content:'';
    width: 88%;
    height: 88%;
    border: 20px solid var(--red_color);
    border-radius: 40px;
    position: absolute;
    top: 10px;
    left: -10px;
    bottom:0;

}
/* imagen animation */
/* main .about_me .container .about_image{
    animation: flutuaction 10s ease-in-out infinite;
}
@keyframes flutuaction {
    0% ,100%{
        transform:translateY(0px) ;
    }
    50%{
        transform: translateY(-50px);
    }


    
} */

main .about_me .container .about_content{
    height: 100%;
    /* background-color: rebeccapurple; */
    padding: 30px;
}

main .about_me .container .about_content .about_title{
    color: white;
    font-size: 40px;
    font-family:  'Poppins';
    width: 90%;
    font-weight: 600;
    align-self: flex-start;
    position: relative;
    margin-bottom: 40px;
    color: var(--red_color);
}

main .about_me .container .about_content .about_text{
    color: rgba(255, 255, 255, 0.548);
    font-size: 15px;
    width: 90%;
    font-family: 'Roboto';
    margin-bottom: 40px;
}

button.button{
    color:white;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Roboto';
    background-color: transparent;
    border: none;
    background-color: var(--red_color);
    cursor: pointer;
    transition: all 1s;
}
button.outline_button{
    color:white;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Roboto';
    background-color: transparent;
    border: none;
    border: 1px solid var(--red_color);
    background-color: transparent;
    cursor: pointer;
    transition: all 1s;
}

button.button:hover{
    background-color: transparent;
    color: var(--red_color);
}

button.outline_button:hover{
    background-color: var(--red_color);
    color:white;
}


.portifolio_cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 40px;
    
    
}

.portifolio_cards .portifolio_card{
    /* trocar propiedade depois par deixar reponivo */
    max-width: 350px;
    width: 100%;
    background-color: #383636;
    display: flex;
    flex-direction: column;
    box-shadow: 11px 11px 12px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 11px 12px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 12px -16px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
}
.portifolio_cards .initial_image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    
    
}
.portifolio_cards .initial_image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .5s;
    transform: scale(1);
    
    
}
.portifolio_cards .initial_image img:hover{
    transform: scale(1.5);
    
    
}

.portifolio_cards .portifolio_card .card_title{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 20px;
   
    
}
.botton_side{
    padding: 10px 30px;
}
.card_buttons{
    margin-top: 60px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.card_buttons button{
    border-radius: 10px;
}

footer{
    background-color: #11141B;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
form .top_input{
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
form .top_input input{ 
    width: 100%;
    padding: 10px 15px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    transition: all .5s;
}
form .top_input input:focus{ 
    border: 1px solid var(--red_color);
}

form .botton_input {
    width: 100%;
}

form .botton_input textarea{
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    resize: none;
}
form .botton_input textarea:focus{
    
    border: 1px solid var(--red_color);
}
.tecnologias .container{
    width: 100%;
    gap: 20px;
    color: white;
    font-size: 80px;
    justify-content: space-between;
 align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tecnologias{
    background-image: url('../img/isso.jpeg');
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.tecnologias .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tecnologias h5{
    font-size: 50%;
    font-family: 'Roboto';
    margin-bottom: 50px;
}

.tecnologias button{
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto';
}

.my_tecnologias{
    width: 100%;
    padding: 80px 0 150px 0;
}
.section_cards{
    margin-top: 100px;
    width: 50%;
    margin: 0 auto;
}
.section_cards .cards_title{
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    margin-top: 100px;

}
.my_tecnologias .tecno_cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

}
.my_tecnologias .tecno_cards img{ 
   width: 90px;
}
.my_tecnologias .tecno_cards .tecno_title{ 
   text-align: center;
   color: white;
   font-family: 'Roboto';
   font-weight: lighter;
   margin-top: 10px;
}
/* Responsive menu  */
@media screen and (max-width:700px) {
    .links {
        display: none;
    }

    .menu {
        display: flex;
        color: white;
    }

}

nav.selected {
    width: 100%;
    height: 100vh;
}

.logo img.selected {
    display: none;
}

.links.selected {
    display: block;
    width: 100%;
}

.links ul.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

body.selected {
    overflow: hidden;

}